<!DOCTYPE html>
<html>
   <!-- 
   But :    Présentation de la structure des exercices du 307
   Auteur : P-A Mettraux
   Date :   10.05.2020 / V1.0 
   -->
   <!-- entête de la page -->
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="icon" href="#"/>
      <link rel="stylesheet" href="styles/main.css">
      <script type="text/javascript" src="js/indexCtrl.js"></script>
      <title>Ex — à compléter</title>
   </head>

   <!-- corps de la page -->
   <body onload="initCtrl()">
      <div id="container">
         <p>Cliquez sur le bouton qui ne fait pas grand chose ! </p>
         <button id="testez">Testez-moi</button>
         <button onclick="testezBis();">Testez-moi bis</button>
         <p id="info">&nbsp;</p>
      </div>

   </body>

</html>
