/*Css petit ecran du projet 307
13.06.23
*/
:root {
  --main-bg-color: #7cafcb;
  --main-font-color: #292929;
  --main-accent-color: #298d20;
  --secondary-accent-color:#d7ba66;
  --secondary-bg-color: #ce8455;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--main-bg-color);
  color: #5d5d5d;
  margin: 0.1cm;
  text-align: center;
  max-height: 100%;
}
#view {
  height: fit-content;
  width: 100%;
}
a {
  color: var(--main-accent-color);
}

button {
  border-radius: 5px;
  border-color: --secondary-accent-color solid 2px;
  background-color: var(--secondary-bg-color);
}

#container {
  background-color: white;
  color: black;
  width: fit-content;
  height: 100%;
  padding: 1em;
  border: 1px solid black;
  margin: auto;
  font-family: Verdana, Arial, serif;
  display: flex;
  flex-direction: column;
}
/* CSS pour le menu */
#menu {
  border: solid 2px var(--main-font-color);
  border-radius: 90px;
  background-color: var(--secondary-accent-color);
  font-size: 15pt;
  height: 5%;
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  position: relative;
  min-height: 3.5em;
  min-width: 3.5em;
  
}
.menuItem {
  margin-top: 1em;
  margin: 0.1em;
  width: auto;
  
}
#logo {
  max-height: 3.5em;
  margin: auto;
  object-fit: scale-down;
  position: absolute;
  right: 0px;
  top: 0px
}
.menuItem:has(img#logo) {
  width: 100%;
}

.separateur {
  padding-left: 0.1em;
  padding-right: 0.1em;
}
#texte {
  margin: 5%;
  max-width: 100%;
  min-width: 10%;
  margin-top: 10%;
  text-align: justify;
}
#carte {
  height: 65vh;
  width: 95%;
}

.important {
  color: red;
  margin-top: 2em;
  background-color: var(--main-font-color);
  border-radius: 10px;
  padding: 2px;
  width: fit-content;
  text-align: justify;
}
.bottomLeft {
  margin: auto;
  position: absolute;
  font-size: 10pt;
  bottom: 30px;
  left: 10px;
}
.ombre {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* classes utilisées par JQ */
.hidden {
  display: none;
}
.jqLeft {
  width: 1%;
  border: solid 2px #9cdcfe;
}
.fullScreen {
  height: 100%;
  min-height: 100vh;
}
