<!--page map du projet 307
#author : Simon Gendre
#date : 12.06.2023
#V1.2-->
<!DOCTYPE html>

<div id="container" class="ombre">
  <h3>What's my IP localisation</h3>
  <div class="form-group">
    <label for="ip">IP :</label>
    <input type="text" size="20" id="ip" name="ip" />
    <label for="lon" for="lat">localisation :</label>
    <input type="text" size="20" id="lon" name="lon" disabled="disabled" />
    <input type="text" size="20" id="lat" name="lat" disabled="disabled" />
  </div>
  <p id="txt">ici, la localisation des IP qui se sont connectées à ce site :</p>
  <div id="carte"></div>
</div>
