body {

    font-family: Verdana, Geneva, Tahoma, sans-serif;

    background-color: #5d5d5d;

    color: #9cdcfe;

    margin: 1cm;

    text-align: center;

}



a {

    color: #94cea8;

}



table {

    text-align: center;

    margin: auto;

}



#JS-logo {

    height: 3cm;

}

#update {

    margin: auto;

    position: absolute;

    bottom: 5px;

    right: 5px;

}

button {

    border-radius: 5px;

    border-color: #d7ba66;

    background-color: #ce8455;

}